amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
Flask==0.10.1
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
kombu==3.0.33
MarkupSafe==0.23
pytz==2015.2
redis==2.10.3
Werkzeug==0.10.1
requests==2.9.1
apiai==1.0.2
schedule==0.3.2
PyOpenSSL==0.15.1
psycopg2==2.6.1
